// Typography
$font-color: #263238;
$secondary-font-color: #546e7a;
$font-family: "Roboto";
$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-large: 600;

// Colors
$dark-color: #263238;
$primary-color: #299d8f;
$secondary-color: #546e7a;
$info-color: #204d74;
$danger-color: #ff4d50;
$success-color: #53c41a;
$warning-color: #fbad15;
$white: #ffffff;
$black: #000000;
$gray-color: #c1c2c3; // Can be modified
$link-color: #299d8f;
$table-active-cell-color: #d4edfb;
$border-color: #c1c2c3;
$control-border-color: #c7c7c7;
$brand-color: #0041ff;
$light-background-color: #f7f8f9;
